html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding-bottom: .2em;
}

h1, h2 {
  color: #b20953;
  font-family: "Sigmar One", cursive;
}

h2 {
  font-size: 1.875rem;
  margin: .3em;
  padding: 18px 0 10px;
}

p {
  font-size: 1rem;
  color: #2f2d13;
  margin: .3em;
  padding: 0 0 .4em .4em;
}

nav {
  padding: 0 0 .4em;
  text-align: center;
}

nav, footer {
  background-color: #ffe500;
}

.copyright {
  text-align: center;
  padding: 10px;
  margin: 0;
  font-size: .9rem;
}

li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0 0 .2em .1em;
}

a {
  display: inline-block;
  font-size: 1.125rem;
  text-decoration: none;
  color: white;
  background-color: #b2a212;
  border-radius: 4px;
  padding: 6px;
}

.current {
  background-color: #b20953;
}

a:hover {
  background-color: #cc1465;
}

img {
  max-width: 25em;
  display: block;
  width: 100%;
  padding: 10px;
}
