html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

h1, h2 {
  color: #b20953;
  font-family: 'Sigmar One', cursive;
}

h2 {
  font-size: 1.875rem;
}

p {
  font-size: 1.125rem;
}

nav {
  padding: 0 0 .4em;
}

nav, footer {
  background-color: #ffe500;
}

footer {
  text-align: center;
  font-size: .75rem;
}

li {
  display: inline-block;
  list-style-type: none;
}

a {
  font-size: 1.125rem;
  text-decoration: none;
  color: white;
  background-color: #b2a212;
  border-radius: 4px;
  padding: 10px;
}

.current {
  background-color: #b20953;
}

a:hover {
  background-color: #cc1465;
}
