html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

h1, h2 {
  color: #cc1465;
  font-family: 'Sigmar One', cursive;
}

h2 {
  font-size: 1.875rem;
}

p {
  font-size: 1.125rem;
}

nav, footer {
  background-color: #ffe500;
}
